* {
    font-family: monospace;
}
html, body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-color: #507AAA;
}
    header h1 {
        margin: 0 0 30px 0;
        text-align: center;
        color: #fff;
    }

nav {
    display: block;
}
    nav ul {
        list-style: none;
        text-align: center;
        padding: 2px;
    }
    nav li {
        display: inline;
        padding: 2px .5em;
        font-family: Verdana, sans-serif;
        color: #ccc;
    }
    nav li.selected {
        background-color: #fff;
        color: #000;
    }
    nav a {
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        color: inherit;
    }

article {
    display: none;
}
article.selected {
    display: block;
}
    article > h1 {
        display: none;
    }
